<div class="d-flex justify-content-center">
    <div class="col-4">
        <div class="button d-flex justify-content-between">
            <button class="btn bg-primary text-white fw-semibold" (click)="startTimer()" [disabled]="isRunning">Start
                Timer</button>
            <button class="btn bg-danger text-white fw-semibold" (click)="stopTimer()" [disabled]="!isRunning">Stop
                Timer</button>
            <button class="btn bg-info text-white fw-semibold" (click)="resetTimer()">Reset Timer</button>
        </div>
    </div>
</div>