.container-fluid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.markRed{
    height: 50%;
    background-color: rgba(187, 0, 0, 0.418);
}
.markBlue{
    height: 50%;
    background-color: rgba(1, 1, 177, 0.589);
}