.content{
    position: relative;
}
.time{
    position: absolute;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
}
.mark{
    position: relative;
}

.input-name-red{
    position: absolute;
    left: 20px;
    bottom: 50px;
}
.input-name-blue{
    position: absolute;
    right: 20px;
    bottom: 50px;
}