<div class="bg-black m-0 p-0">
    <div class="btn-time mt-5 p-0">
        <app-button-watch></app-button-watch>
    </div>
    <div class="content">
        <div class="time">
            <app-watch></app-watch>
        </div>
        <div class="mark mt-5 p-0">
            <div class="app-mark">
                <app-mark></app-mark>
            </div>
            <div class="input-name-red bg-transparent">
                <app-input-name></app-input-name>
            </div>
            <div class="input-name-blue bg-transparent">
                <app-input-name></app-input-name>
            </div>
        </div>
    </div>
    <div class="btn d-flex justify-content-center mt-5">
        <button class="btn btn-danger" (click)="reset()">Reset Mark</button>
    </div>
    <div class="giam-dinh d-flex flex-row justify-content-between mt-5">
        <button class="btn btn-info" routerLink="giam-thi-1">Giám định 1</button>
        <button class="btn btn-info" routerLink="giam-thi-2">Giám định 2</button>
        <button class="btn btn-info" routerLink="giam-thi-3">Giám định 3</button>
        <button class="btn btn-info" routerLink="giam-thi-4">Giám định 4</button>
        <button class="btn btn-info" routerLink="giam-thi-5">Giám định 5</button>
    </div>
</div>
