<div class="container-fluid">
    <div class="col-12 markRed d-flex justify-content-center align-items-center gap-4">
        <button class="px-5 py-2 text-white btn btn-primary fs-1" (click)="markRed(1)">+</button>
        <button class="px-5 py-2 text-white btn btn-danger fs-1" (click)="markRed(-1)">-</button>
    </div>
    <div class="col-12 markBlue d-flex justify-content-center align-items-center gap-4">
        <button class="px-5 py-2 text-white btn btn-primary fs-1" (click)="markBlue(1)">+</button>
        <button class="px-5 py-2 text-white btn btn-danger fs-1" (click)="markBlue(-1)">-</button>
    </div>
</div>