<div class="row">
    <div class="col-6 markRed">
        <!-- <h1 class="text-white bg-transparent text-center">Nguyễn Trung Hiếu</h1> -->
        <div class="card d-flex justify-content-center">
            <h1 class="bg-transparent text-center">{{markRed}}</h1>
        </div>
    </div>
    <div class="col-6 markBlue">
        <!-- <h1 class="text-white bg-transparent text-center">Nguyễn Văn A</h1> -->
        <div class="card d-flex justify-content-center">
            <h1 class="bg-transparent text-center">{{markBlue}}</h1>
        </div>
    </div>
</div>