.markRed .card{
    height: 600px;
    background-color: rgba(255, 0, 0, 0.719);
    h1{
        font-size: 320px;
        color: white;
    }
}
.markBlue .card{
    height: 600px;
    background-color: rgba(0, 0, 255, 0.753);
    h1{
        font-size: 320px;
        color: white;
    }
}