<div class="bg-transparent">
    <input *ngIf="isInputVisible" [(ngModel)]="inputValue" (keyup.enter)="saveValue()" (blur)="hideInput()"
        placeholder="Enter text and press enter" />
    <h1 class="text-white" *ngIf="!isInputVisible" (click)="showInput()">{{ savedValue }}</h1>
</div>